{
  "presets": [
    ["@babel/env", {
      "modules": false,
      "targets": {
        "browsers": "since 2015",
        "node": "6.10"
      }
    }]
  ],
  "plugins": ["@babel/plugin-proposal-object-rest-spread"]
}