{
  "presets": [
    ["env", {
      "modules": false,
      "targets": {
        "browsers": "since 2015",
        "node": "6.10"
      }
    }]
  ],
  "plugins": ["transform-object-rest-spread", "external-helpers"]
}